.app {
  text-align: center;
  width: 100%;
  height: 100%;
}
.header {
  height: 10vh;
  background-color: aqua;
}
.grid {
  padding-left: 10vw;
  padding-right: 10vw;
}
.grid div {
  margin: 0;

}
.grid button {
  margin: 0px;
  outline: 0;
  border: 0;

}
